.btn {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    

  }
  .mat-card{
      border-radius:80%;
  }
  .mat-icon1 {
    font-size: 180px;
    width:60%;
    height:60%;
   
   
  }
  .waste{
      border-radius:0%;
  }