<app-navbar></app-navbar>
<div class="bootstrap-wrapper">
    <div class="container text-center">
        <div class="row" style="margin-top:20px;">
            <div class="col-md-6 offset-md-3 ml200 mr200 mt20 mb200">
                <mat-card>
                    
                    <!-- {{needy | json}} -->
                    
                    <h1 class="text-center">Sign Up <mat-icon>thumb_up</mat-icon></h1>
                    <mat-card>
                        <div class="container text-center">
                            <img src="../../../assets/handicapped.jpeg" style="border-radius:64%" alt="" />
                        </div>
                        <button routerLink="/signupneedy" mat-raised-button color="accent">
                           
                           NEEDY
                         </button><br>
                         <mat-hint>Select to sign up if you required any help!!!&nbsp;&nbsp;<mat-icon>emoji_emotions</mat-icon></mat-hint>
                    </mat-card>
                    <br><br><br><br>
                    <mat-card>
                       
                        <div class="container text-center">
                            <img src="../../../assets/heroes.jpeg" style="border-radius:50%" alt="" />
                        </div>
                        <button routerLink="/signuphero" mat-raised-button color="primary">
                        HERO
                        </button><br>
                        <mat-hint>select if you are willing to help others and become someone's HERO!!&nbsp;&nbsp;<mat-icon class="icon-display">emoji_emotions</mat-icon></mat-hint>
                    </mat-card>
                    
                    
            </mat-card>    
            </div>
        </div>



    </div>




</div>